name: Create labels

on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/labels.yml'
      - '.github/workflows/create-labels.yml'

jobs:
  labeler:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4.2.0
      -
        name: Run Labeler
        if: success()
        uses: crazy-max/ghaction-github-labeler@v5.0.0
